html {
    /* Colour Variables */
    --background-colour: #E0E1DD;
    --header-text-colour: #FFFFFF;

    --temp-zero: #ACB7C3;
    --temp-one: #778DA9;
    --temp-two: #415A77;
    --temp-three: #1B263B;

    --border-colour: #0D1B2A;

    --primary-card-colour: var(--header-text-colour);
    --secondary-card-colour: var(--temp-zero);
    --background-card-colour: var(--background-colour);
    --text-card-colour: #000000;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-colour);
}

body.modal-open {
    overflow: hidden;
}

h1 {
    color: var(--header-text-colour);
    -webkit-text-stroke: 0.04em black;
    text-shadow: 0.05em 0.05em 0.05em black;
}

h2 {
    color: var(--header-text-colour);
    -webkit-text-stroke: 0.04em black;
    text-shadow: 0.05em 0.05em 0.1em black;
}

button {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

#container {
    background-color: var(--temp-two);
    border-radius: 24px;
    border: 3px solid var(--temp-three);
    margin: auto;
    padding: 2em;
    width: 80%;
    max-width: 1200px;
}

.box {
    border: 3px solid var(--border-colour);
    border-radius: 24px;
    margin-bottom: 1em;
    padding: 1em;
}

.header {
    text-align: center;
    font-size: x-large;
    background-color:var(--temp-three);
    padding: 0;
    margin-bottom: 1em;
}

.projects {
    background-color:var(--temp-one);
}

.projects h1 {
    margin: 8px;
    margin-left: 15px;
}

.object-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: stretch;
    align-items: flex-start;

    margin:0;
}

.card {

    margin: 8px;
    border: 3px solid var(--border-colour);
    border-radius: 2em;

    background-color: var(--border-colour);
    text-align: center;
    /* width: 200px; */
    aspect-ratio: 4/3;

    padding: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    color: var(--primary-card-colour);
    margin-bottom: 0.5em;
}

.card p {
    margin-top: 0.5em;
    padding: 0.2em;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.5);
}

.hover-scale {
    transition: scale 50ms;
}

.hover-scale:hover {
    scale: 1.1;
    cursor: pointer;
    transition: scale 50ms;
}

.tab {

    margin: 8px;
    border: 3px solid var(--border-colour);
    border-radius: 2em;

    background-color: var(--border-colour);
    text-align: center;
    /* width: 200px; */
    aspect-ratio: 4/1;

    padding: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab h2 {
    color: var(--primary-card-colour);
    margin: 0;
}

.content {
    background-color:var(--temp-zero);
    padding: 20px;
}

.content section {
    background-color: var(--background-colour);
    
    padding: 1em;
    border-radius: 1em;
    /* margin-bottom: 2em; */
}

.content h3 {
    margin-top: 0.1em;
}

.content p {
    font-size: small;
    text-align: justify;
    text-align: -moz-justify !important;
    text-align: -webkit-justify !important;
}

footer {
    padding: 1em;
    border: 3px solid var(--border-colour);
    border-radius: 1em;
    margin-top: 1em;

    color: var(--header-text-colour);
    font-style: italic;
    background-color: var(--temp-three);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "left"
    "center"
    "right";
}

.left {
    grid-area: left;
    text-align: left;
}

.center {
    grid-area: center;
    text-align: center;
}

.right {
    grid-area: right;
    text-align: right;
}

.modal-container {
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: #E0E1DD80;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container.show {
    opacity: 1;
    transition: opacity 400ms;
    pointer-events: auto;
}

.modal-box {
    overscroll-behavior: contain;

    background-color: var(--background-card-colour);
    border-radius: 15px;
    border: 3px solid var(--border-colour);

    width: 80%;
    max-width: 100%;
    height: 80%;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    color: var(--text-card-colour);
}

.modal {
    width: 80%;
    margin: auto;
    padding: 2em;

    /* overflow: auto; */

    text-align: justify;
    text-align: -moz-justify !important;
    text-align: -webkit-justify !important;
    line-height: 1.6em;

    scrollbar-color: var(--primary-card-colour) var(--secondary-card-colour);
    scrollbar-width: thin;
}

.modal h1 {
    color: var(--primary-card-colour);
    text-align: center;
}

.modal h2 {
    color: var(--text-card-colour);
    /* color: white;
    mix-blend-mode: difference; */
    -webkit-text-stroke-width: 0;
    text-shadow: none;
    font-size: large;
    text-align: center;
}

.modal h3 {
    /* text-align: left; */
    font-size: medium;
}

.modal-box p, .modal-box ul {
    /* text-align: justify; */
    font-size: small;
    margin-bottom: 1.5em;
}

.modal-box ul {
    padding-left: 20px;
}

.modal-box ul ul {
    margin-bottom: 10px;
}

.modal-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-dates p {
    margin: 0.5em 0;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;

    text-align: center;
}

.link-container a {
    margin: 0.3em 1em;
    text-decoration: none;
}

.modal-images-container {
    background-color: var(--secondary-card-colour);
    width: 100%;
    /* max-height: 100%; */
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border-right: 2px solid var(--text-card-colour); */

    /* overflow: visible; */
    scrollbar-color: var(--primary-card-colour) var(--secondary-card-colour);
    scrollbar-width: thin;
}

.modal-image {
    width: 80%;
    aspect-ratio: 16 / 9;

    margin: 1em;

    background-color: #00000080;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    border: 4px solid #000000;
    border-radius: 10px;
}

.close-modal-button {
    margin: auto;
    margin-top: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: larger;
}

.modal-button {
    background-color: var(--primary-card-colour);
    color: black;
    padding: 5px 3em;
    border: 3px solid var(--border-colour);
    border-radius: 0.5em;
    width: fit-content;
    transition: background-color 20ms linear;
}

.modal-button:hover, .close-modal-button:hover {
    background-color: var(--secondary-card-colour);
    cursor: pointer;
    transition: background-color 40ms linear;
}

.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.socials-container a {
    margin-bottom: 0.5em;
    text-decoration: none;
}

.socials-container div {
    font-weight: bold;
    text-shadow: 0 0 5px #000000;
    color: var(--header-text-colour);
    background-color: var(--temp-one);

    padding: 0.8em 1em;
    border-radius: 0.5em;
    border: 3px solid var(--border-colour);
}

.socials-container div:hover {
    background-color: var(--temp-two);
}

@media screen and (min-width: 900px) {
    .content p, .content ul {
        font-size: medium;
    }
    
    .modal-box {
        flex-direction: row;
        overflow: visible;
    }
    .modal {
        width: 50%;
        max-height: calc(100% - 4em);
        /* margin-top: 5em; */
        overflow-x: hidden;
        overflow-y: auto;
    }
    .modal-images-container {
        width: 40%;
        height: 100%;
        margin-top: 0;

        border-left: 2px solid var(--text-card-colour);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .modal-dates {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px) {
    .header {
        padding: 0.5em;
    }

    .modal-box p, .modal-box ul{
        font-size: medium;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "left center right";
    }
}